# Se for rodar backend localmente, use: http://localhost:4000
# Se for rodar backend localmente, porém para uso no Android, mude apenas a variável abaixo.
# Para buildar o app, certifique-se de que está usando a URL correta da API: http://192.241.132.151
EXPO_PUBLIC_API_URL=http://localhost:4000